.dee{
   background-color: rgb(186, 250, 250);
   height: 40px;
   width: 58%;
   margin: auto;
   margin-bottom: 10px;
   padding-top: 10px;
   padding-left: 30px;
}
.dora{
   background-color: rgb(248, 253, 253);
   height: 350px;
   width: 60%;
   margin: auto;
   margin-bottom: 10px;
}
.drex{
   background-color: rgb(186, 250, 250);
   height: 200px;
   width: 58%;
   margin: auto;
   margin-bottom: 10px;
   padding-left: 30px;
   padding-top: 15px;
   /* text-align: center; */
   /* align-items: center; */
   /* table-layout: auto; */
}
.mune{
   background-color: rgb(186, 250, 250);
   height: 50px;
   width: 60%;
   margin: auto;
   margin-bottom: 10px;
   text-align: center;
   padding-top:15px;
}
.b{
   background-color: aqua;
   height: 40px;
   margin-right: 10px;
    width: 100px;
}
.c{
   background-color: aqua;
   height: 40px; 
   margin-right: 10px;
    width: 100px;
}
.d{
    background-color: aqua;
    height: 40px;
    margin-right: 10px;
     width: 100px;
}
.doreen{
    background-color: rgb(186, 250, 250);
    height: 350px;
    width: 55%;
    float: left;
    padding-left: 30px;
}
.munezero{
    background-color: rgb(253, 254, 254);
    height: 350px;
    width: 40%;
    float: right;
}
.munezerolong{
    background-color: rgb(253, 254, 254);
    height: 230px;
    width: 100%;
    margin-bottom: 8px;
}
.munezeroshort{
    background-color: rgb(186, 250, 250);
    height: 100px;
    width: 100%;
    text-align: center;
    padding-top: 12px;
}
img{
   height: 100%;
   width: 100%;
}