.dee{
   background-color: rgb(186, 250, 250);
   height: 40px;
   width: 58%;
   margin: auto;
   margin-bottom: 10px;
   padding-top: 10px;
   padding-left: 30px;
}
.dora{
   background-color: rgb(252, 253, 253);
   height: 250px;
   width: 60%;
   margin: auto;
   margin-bottom: 30px;
}
.drex{
   background-color: rgb(186, 250, 250);
   height: 200px;
   width: 58%;
   margin: auto;
   margin-bottom: 20px;
   padding-left: 30px;
   padding-top: 15px;
}
.deedrex{
   background-color: rgb(186, 250, 250);
   height: 160px;
   width: 58%;
   margin: auto;
   margin-bottom: 10px;
   padding-left: 30px;
   padding-top: 15px;
}
.mune{
   background-color: rgb(186, 250, 250);
   height: 50px;
   width: 60%;
   margin: auto;
   margin-bottom: 10px;
   text-align: center;
   padding-top:15px;
}
.b{
   background-color: aqua;
   height: 40px;
   margin-right: 10px;
    width: 100px;
}
.c{
   background-color: aqua;
   height: 40px; 
   margin-right: 10px;
    width: 100px;
}
.d{
    background-color: aqua;
    height: 40px;
    margin-right: 10px;
     width: 100px;
}
.doreen{
    background-color: rgb(186, 250, 250);
    height: 250px;
    width: 55%;
    float: left;
    padding-left: 30px;
}
.munezero{
    background-color: rgb(186, 250, 250);
    height: 250px;
    width: 40%;
    float: right;
}
img{
   height: 100%;
   width: 100%;
}
