.dee {
    background-color: rgb(186, 250, 250);
    height: 40px;
    width: 58%;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 30px;
}

.dora {
    background-color: rgb(186, 250, 250);
    height: 40px;
    width: 60%;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 3px;
}

.drex {
    background-color: rgb(186, 250, 250);
    height: 400px;
    width: 58%;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    padding-left: 30px;
    padding-top: 30px;

}

.mune {
    background-color: rgb(186, 250, 250);
    height: 40px;
    width: 60%;
    margin: auto;
    text-align: center;
    padding-top: 5px;
}

.b {
    background-color: aqua;
    height: 40px;
    margin-right: 10px;
     width: 100px;
}

.c {
    background-color: aqua;
    height: 40px;
    margin-right: 10px;
     width: 100px;
}

.d {
    background-color: aqua;
    height: 40px;
    margin-right: 10px;
     width: 100px;
}

input {
    background-color: rgb(231, 255, 255);
    width: 350px;
}

textarea {
    background-color: rgb(231, 255, 255);
    height: 150px;
    width: 350px;

}

.g {
    background-color: aqua;
    height: 40px;
    margin-right: 10px;
    width: 100px;
}
